<div class="container context">
  <div class="row">
    <div class="col-md-1 col-xs-0" ></div>
      <%= render :partial => "layouts/nav"%>
    <div class="context-card">
    <form action="/users" method="get">
    <div class="input-group rounded">
      <input type="search" name="search" id="form1" class="form-control" placeholder="検索" aria-label="検索" aria-describedby="search-addon" />
      <button type="submit" class="btn "><i class="fas fa-search"></i></button>
    </div>
    </form>
    <table class="table  users-table" >
    <% @users.each do |user|%>
    <tr>
      <td>
      <%= link_to user_path(user.id) do%>
      <%= render :partial => "layouts/profile_img", :locals=> {user: user} %>
      <%= user.username%>
      <% end %>
      <%= render :partial => "users/follow_button", :locals=> {user: user} %>
      </td>
    </tr>
    <% end %>
    </table>
    <%= paginate @users %>
    </div>
    <div class="col-md-2 col-xs-1"></div>
  </div>
</div>