<div>
  <div  class="my-context-width">
  <%= render :partial => "layouts/profile_img", :locals=> {user: @user} %>
  <%= @user.username %></p>
  <%= link_to "フォロー中#{@followings.count }", follows_user_path %>
  <%= link_to "フォロワー#{@followers.count}",   followers_user_path %>
  <% if current_user.id == @user.id%>
  <%= button_to "ユーザ編集",edit_user_registration_path(current_user.id), method: :get,class: "btn btn-primary", rele: "button"%>
  <%else%>
      <%= render :partial => "users/follow_button", :locals=> {user: @user} %>
  <% end %>
  <div class="row">
    <% @contexts.each do |context| %>
      <div>
        <%= link_to image_tag(context.context_img.gallery.to_s,width:"150px",class:"m-1"), context_path(context.id),
                      preserveAspectRatio:"xMidYMid slice",focusable:"false" ,role:"img",class: "thumbnail"%>
      </div>
    <% end %>
    <%= paginate @contexts %>
  </div>
  </div>
</div>