<div>
<div class="card mx-auto card-style-solo">
  <div class="flex-row">
    <%= link_to user_path(@context.user.id) do %>
      <%= render :partial => "layouts/profile_img", :locals=> {user: @context.user} %>
      <%= @context.user.username%>
    <% end %>
    </div>
  <%= link_to image_tag(@context.context_img.full.to_s), context_path(@context.id), class:"bd-placeholder-img card-img-top", width: "100%", height:"180",preserveAspectRatio:"xMidYMid slice",  focusable:"false" ,role:"img" %>
  <div class="card-body">
    <p class="card-text"><%= @context.body%></p>
    <p><%= @context.category%></p>
    <% if current_user.id == @context.user.id%>
    <%= link_to "編集",edit_context_path(@context.id), class: "btn btn-outline-success"%> 
    <%= link_to "削除",context_path(@context.id), method: :delete,class: "btn btn-outline-danger", data: { confirm: '削除しますか？'}%><br>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-4 text-center">
          <%= link_to new_context_path  style="text-align: right" do%><i class="far fa-heart fa-2x	"></i><%end%>
        </div>
        <div class="col-4 text-center">
          <a href="https://twitter.com/intent/tweet?text=<%= page_title %> &url=<%= request.url %>" target=”_blank rel="noopener noreferrer"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="col-4 text-center">
          <a href="http://www.facebook.com/share.php?u=<%= request.url %>&t=<%= page_title %>" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-square fa-2x" style="color:#007bff"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-area" style="padding: 10px;">
    <p>コメント</p>
    <%= form_with model:[@context, @comment], method: :post do |f| %>
      <%= f.text_area :body, class: "form-control" %>
      <%= f.hidden_field :context_id, value: @context.id %>
      <%= f.submit '送信', class: "btn btn-secondary m-1" %>
    <% end %>
    <% @comments.each do |comment| %>
      <div class="comment m-3">
        <%= link_to user_path(comment.user.id) do %>
        <%= render :partial => "layouts/profile_img", :locals=> {user: comment.user} %>
        <%= comment.user.username %>
        <% end %>
        <%= comment.body %>
        <%= comment.created_at.to_s(:datetime_jp) %><br>
      </div>
    <% end %>
  </div>
</div>

</div>