<% contexts.each do |context| %>
  <div class="card m-1 card-style" style="">
    <div class="flex-row">
      <%= link_to user_path(context.user.id) do %>
        <%= render :partial => "layouts/profile_img", :locals=> {user: context.user} %>
        <%= context.user.username%>
      <% end %>
      </div>
    <%= link_to image_tag(context.context_img.gallery.to_s,), context_path(context.id), class:"bd-placeholder-img card-img-top", id: "show-img", width: "100%", height:"180",preserveAspectRatio:"xMidYMid slice",  focusable:"false" ,role:"img" %>
    <div class="card-body">
      <p class="card-text">
      <%= wordCount context.body %>
      <p class="link"><%= link_to "詳細", context_path(context.id)%></p>
      </p>
      <p><%= context.category%></p>
      <% if !current_user.nil? && context.id == current_user.id %>
      <%= link_to "編集",edit_context_path(context.id), class: "btn btn-outline-success"%> 
      <%= link_to "削除",context_path(context.id), method: :delete,class: "btn btn-outline-danger", data: { confirm: '削除しますか？'}%><br>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col-3 text-center">
            <%= link_to context_path(context.id) do %><i class="far fa-comment fa-2x"></i><%= context.comments.count %><%end%>
          </div>
          <div class="col-3 text-center">
            <div id="like_<%= context.id %>">
              <%= render "likes/like", context: context %>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
<% end %>