<%= javascript_pack_tag 'context/count' %>
  <p class="form-group field">
    <%= c.label :内容, class: "control-label"%>
    |<span id="counter">残り200文字</span>
    <%= c.text_area :body, class: "form-control", id: "input-text-body", value: @context.body,rows: 7  %>
  </p>
  <p class="form-group field">
    <%= c.label :画像, class: "control-label" %>
    <%= c.file_field :context_img, value: @context.context_img %>
  </p>
  <p class="form-group field">
    <%= c.label :カテゴリー, class: "control-label" %>
    |<span id="category">残り10文字</span>
    <%= c.text_field :category, class: "form-control", id: "input-text-category", value:@context.category %>
  </p>
  <%= c.submit "登録する", class: "btn btn-primary" %>

  <script>

  </script>