<% if current_user.nil? %>

 <div class="col-md-2 col-xs-1 context-nav" style=" width: 400px;">
    <%= link_to "ホーム",     root_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "投稿する！",  new_context_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "フォロー投稿",    contexts_follow_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "ユーザ検索",  users_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "動物カテゴリー",  contexts_category_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to user_session_path, class: "btn mb-3 btn-outline-info index_button" do%>
    <i class="far fa-heart"></i> お気に入り
    <% end %>
  </div> 

<% else %>
  <div class="col-md-2 col-xs-1 context-nav" style=" width: 400px;">
    <%= link_to "ホーム",     root_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "投稿する！",  new_context_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "フォロー投稿",    contexts_follow_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "ユーザ検索",  users_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to "動物カテゴリー",  contexts_category_path, class: "btn mb-3 btn-outline-info index_button"%>
    <%= link_to like_show_path(current_user.id), class: "btn mb-3 btn-outline-info index_button" do%>
    <i class="far fa-heart"></i> お気に入り
    <% end %>
  </div>
<% end %>
